VITE_API_URL=https://exquisite-creativity-production.up.railway.app/api

# Usar datos dummy para pruebas (solo en desarrollo)
# Por defecto está habilitado en desarrollo. Ponlo en "false" para deshabilitarlo.
# VITE_USE_DUMMIES=true
